/* Réinitialiser les styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.ttf');
}

a {
    color: inherit; /* Changes the link color to the color of its parent */
    text-decoration: none; /* Removes underline */
}

html {

    scroll-behavior: 'instant';
  
}

body {
    font-family: 'Poppins';
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#left-band {
    height: 100vh;
    border-right: solid 1px rgb(201, 201, 201);
    position: sticky;
    top: 0;
}

#profil-link {
    height: 100%;
    width: 80%;
    float: right;
    
    text-align: left;
}

.left-band-img {
    display: inline-block;

    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 30px;

    color: black;
    text-shadow: none; 
}

.left-band-img img {
    width: 40px;
    height: auto;
}

.left-band-img:hover {
    background-color: rgb(180, 180, 180);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out
}

#profil-link-i {
    margin-top: 30px;
    margin-left: 25%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}


#posts {
    padding: 0;
    margin: 0;
}

.post {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px rgb(201, 201, 201);
}

#post-avatar-username {
    padding-top: 2%;
    margin-left: 2%;
    text-align: left;
}

#post-date {
    padding-top: 2%;
    margin-right: 2%;
    text-align: right;
}

#post-text {
    padding: 5%;
    text-align: left;
}

#like-comment {
    text-align: center;
    padding-bottom: 2%;
}

#right-band {
    height: 100vh;
    border-left: solid 1px rgb(201, 201, 201);
    
    position: sticky;
    top: 0;
}

#profil {
    height: 100%;
}

#profil-detail {
    text-align: center;
    padding: 5%;
}

#avatar {
    margin: 5%;
}

#avatar img {
    width: 128px;
    height: auto;
}

#pseudo-follow {
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

#bio {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

#bio-text {
    border: 1px solid rgb(201, 201, 201);
    padding: 3%;
    border-radius: 10px;
}

#bio-text-title {
    margin-bottom: 2%;
}

#post-form {
    margin-top: 2%;
    text-align: center;
}

#post-form input[type="text"] {
    width: 80%;
    padding: 1%;
    margin: 2%;
}

#post-form input[type="submit"] {
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    color: white;
    border: none;

    transition: background 0.3s ease-in-out; /* Add this line */
    background: rgb(0, 140, 255);
}

#post-form input[type="submit"]:hover {
    /* background: rgb(0, 120, 235); */
    background: black;
}   


@media screen and (max-width: 1380px){
    .pl-span {
        display: none;
        padding-left: 2%;
    }

    #profil-link-i {
        padding: 5%;
        margin-right: 0;

        width: 40%;
        height: auto;
    }

    #profil-link {
        float: none;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 1180px){
    #pseudo-follow {
        text-align: center;
    }
}