/* Réinitialiser les styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.ttf');
}

a {
    color: inherit; /* Changes the link color to the color of its parent */
    text-decoration: none; /* Removes underline */
}

body {
    font-family: 'Poppins';
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#left-band {
    height: 100vh;
    border-right: solid 1px rgb(201, 201, 201);
    position: sticky;
    top: 0;
}

#profil-link {
    height: 100%;
    width: 80%;
    float: right;
    
    text-align: left;
}

.left-band-img {
    display: inline-block;

    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 30px;

    color: black;
    text-shadow: none; 
}

.left-band-img img {
    width: 40px;
    height: auto;
}

.left-band-img:hover {
    background-color: rgb(180, 180, 180);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out
}

#profil-link-i {
    margin-top: 75px;
    margin-left: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}


#post {
    height: 3000px;
}

#right-band {
    height: 100vh;
    border: solid 1px green;
    
    position: sticky;
    top: 0;
}

#profil {
    border: solid 1px black;
    height: 100%;
}

#profil-detail {
    border: solid 1px blue;
    text-align: center;
}

#avatar {
    border: solid 1px black;
}

#pseudo-follow {
    border: solid 1px black;
}

#bio {
    border: solid 1px black;
}

#post-form {
    border: solid 1px black;
}


@media screen and (max-width: 1340px){
    .pl-span {
        display: none;
        padding-left: 2%;
    }

    #profil-link-i {
        padding: 5%;
        margin-right: 0;

        width: 40%;
        height: auto;
    }

    #profil-link {
        float: none;
        text-align: center;
        width: 100%;
    }
}