/* Réinitialiser les styles par défaut */
* {
    /* Supprime les marges et les paddings */
    margin: 0;
    padding: 0;

    /* Utilise la box-sizing border-box */
    box-sizing: border-box;
}

/* Ajoute une police custom */
@font-face {
    /* Nom de la police */
    font-family: 'Poppins';

    /* Chemin de la police */
    src: url('../font/Poppins-Medium.ttf');
}

/* Style des <a> */
a {
    /* Couleur du texte */
    color: inherit;

    /* Supprime le soulignement */
    text-decoration: none;
}

/* Style des <h> */
h4 {
    /* Positionnement */
    text-align: center;
    position: sticky;
    top: 0;
    margin: 0;

    /* Couleur et bordure */
    background: rgb(0, 140, 255);
    border-bottom: solid 1px rgb(201, 201, 201);

    /* Police */
    color:white;
}

a:hover {
    /* Couleur du texte */
    color: rgb(0, 140, 255);

    /* Transition */
    transition:  color 0.3s ease-in-out;
}

/* Style du <html> */
html {
    /* Défini le défilement de la page */
    scroll-behavior: 'instant';
}

/* Style du <body> */
body {
    /* Utilise la police custom */
    font-family: 'Poppins';

    /* Taille */
    height: 100%;

    /* Positionnement */
    padding: 0;
    margin: 0;

    /* Type de box */
    box-sizing: border-box;
}

/* Style du bandeau de gauche */
#left-band {
    /* Taille */
    height: 100vh;

    /* Bordure */
    border-right: solid 1px rgb(201, 201, 201);

    /* Positionnement */
    position: sticky;
    top: 0;
}

/* Style du conteneur de lien */
#profil-link {
    /* Taille */
    height: 100%;
    width: 80%;

    /* Positionnement */
    float: right;

    /* Alignement a gauche */
    text-align: left;
}

/* Style du conteneur des images du bandeau de gauche */
.left-band-img {
    /* Positionnement */
    display: inline-block;

    /* Bordure arrondie */
    border-radius: 30px;

    /* Texte */
    color: black;
    text-shadow: none; 

    /* Transition */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Style des images du bandeau de gauche */
.left-band-img img {
    /* Taille */
    width: 40px;
    height: auto;
}

/* Style des images du bandeau de gauche au survol */
.left-band-img:hover {
    /* Couleur de fond */
    background-color: rgb(180, 180, 180);

    /* Transition */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out
}

/* Style des liens du bandeau de gauche */
.profil-link-i {
    /* Positionnement */
    margin-top: 30px;
    margin-left: 25%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Style du bouton pour afficher les notifications */
#show-notification-button, #show-search-button{
    /* Enleve les styles par défaut */
    background: none;
    border: none;
}

/* Style du bouton pour afficher les notifications au survol */
#show-notification-button:hover, #show-search-button:hover {
    /* Couleur de fond */
    background-color: rgb(180, 180, 180);
    color: rgb(0, 140, 255);
    
    /* Transition */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out
}

/* Style du conteneur des posts */
#posts {
    /* Positionnement */
    padding: 0;
    margin: 0;
}

/* Style des posts */
.post {
    /* Positionnement */
    margin: 0;
    padding: 0;

    /* Bordure */
    border-bottom: solid 1px rgb(201, 201, 201);
}

/* Style de l'affichage follow */
.follow {
    /* Positionnement */
    margin: 0;
    padding: 3%;

    /* Bordure */
    border-bottom: solid 1px rgb(201, 201, 201);

    /* Centrage */
    text-align: center;
}

/* Style de l'affichage des avatar username des posts */
.post-avatar-username {
    /* Positionnement */
    padding-top: 2%;
    margin-left: 2%;
    text-align: left;
}

/* Style de l'affichage de la date des posts */
.post-date {
    /* Positionnement */
    padding-top: 2%;
    margin-right: 2%;
    text-align: right;
}

/* Style du texte des posts */
.post-text{
    /* Positionnement */
    padding: 5%;
    text-align: left;
}

/* Style du conteneur des images des posts */
.post-img{
    /* Positionnement */
    padding: 2%;
    text-align: center;
    margin-bottom: 4%;

    /* Taille */
    width: 100%;
}

/* Style des images des posts quand il y a 3 images */
.post-img-3{
    /* Positionnement */
    border: solid 1px rgb(0, 140, 255);
    border-radius: 5px;

    /* Taille */
    width: 30%;
    height: 300px;
}

/* Style des images des posts quand il y a 2 images */
.post-img-2{
    /* Positionnement */
    border: solid 2px rgb(0, 140, 255);
    border-radius: 5px;

    /* Taille */
    width: 45%;
    height: 400px;
}

/* Style des images des posts quand il y a 1 image */
.post-img-1{
    /* Positionnement */
    border: solid 2px rgb(0, 140, 255);
    border-radius: 5px;

    /* Taille */
    width: 80%;
    height: auto;
}

/* Style des likes et commentaires */
.like-comment {
    /* Positionnement */
    text-align: center;
    padding-bottom: 2%;
}

/* Style du bandeau de droite */
#right-band {
    /* Taille */
    height: 100vh;

    /* Bordure */
    border-left: solid 1px rgb(201, 201, 201);
    
    /* Positionnement */
    position: sticky;
    top: 0;
}

/* Style du conteneur du profil */
#profil {
    /* Taille */
    height: 100%;
}

/* Style du détail du profil */
#profil-detail {
    /* Positionnement */
    text-align: center;
    padding: 5%;
}

/* Style du conteneur de l'avatar */
#avatar {
    /* Positionnement */
    margin: 5%;
}

/* Style de l'avatar */
#avatar img {
    /* Taille */
    width: 128px;
    height: auto;
}

/* Style du pseudo et du follow */
#pseudo-follow {
    /* Positionnement */
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

/* Style de la bio */
#bio {
    /* Positionnement */
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

/* Style du texte de la bio */
#bio-text {
    /* Positionnement */
    padding: 3%;

    /* Bordure */
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
}

/* Style du titre de la bio */
#bio-text-title {
    /* Positionnement */
    margin-bottom: 2%;
}

/* Style du conteneur du boutton pour afficher le formulaire de post */
#show-post-container {
    /* Positionnement */
    margin-top: 2%;
    text-align: center;
}

/* Style du boutton pour afficher le formulaire de post */
#show-post-button {

    /* Taille */
    width: 70%;

    /* Positionnement */
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    /* Bordure */
    border-radius: 20px;
    border: none;

    /* Couleur de fond et texte */
    background: rgb(0, 140, 255);
    color: white;

    /* Transition */
    transition: background 0.3s ease-in-out; /* Add this line */
}

/* Style du boutton pour afficher le formulaire de post au survol */
#show-post-button:hover {
    /* Couleur de fond */
    background: black;
}   

/* Style du conteneur des avatar dans displayFollow */
.follow-info {
    /* Positionnement */
    text-align: left;
    padding: 2%;
}

/* Style du titre des Suivies / Abonnées dans displayFollow */
.follow-sub-info {
    text-align: right;
    padding: 2%;
}

/* Style du texte des Suivies / Abonnées dans displayFollow */
.follow-info-text {
    /* Positionnement */
    margin-right: 4%;
}

/* Style du conteneur des href des Suivies / Abonnées dans displayFollow */
.follow-sub-href {
    /* Positionnement */
    margin-bottom: 7%;
}

/* Style des href des Suivies / Abonnées dans displayFollow */
.follow-sub-href a{
    /* Positionnement */
    padding: 2%;

    /* Couleur de fond et texte */
    color: white;
    background: rgb(0, 140, 255);

    /* Bordure */
    border-radius: 20px;

    /* Taille */
    width: 50%;

    /* Transition */
    transition: background 0.3s ease-in-out; /* Add this line */
}

/* Style des href des Suivies / Abonnées dans displayFollow au survol */
.follow-sub-href a:hover {
    /* Couleur de fond */
    background: black;

    /* Transition */
    transition: background 0.3s ease-in-out; /* Add this line */
}

.style-display-profil {
    /* Positionnement */
    margin-top: 5%;

    /* Bordure */
    border-top: solid 1px rgb(201, 201, 201);
    border-bottom: solid 1px rgb(201, 201, 201);

    /* Centrage */
    text-align: center;

    /* Police */
    font-size: 1.5em;
    color:white;

    /* Couleur de fond */
    background: black;
}

/* Style des formulaires de commentaires */
.comment-form {
    /* Positionnement */
    text-align: center;
    position: sticky;
    top: 0;

    /* Couleur et bordure */
    background: white;
    border-bottom: solid 2px rgb(201, 201, 201);

    /* Police */
    color:white;

    /* Affichage */
    display: none;
}

/* Style du titre du formulaire de commentaire */
#comment-form-title {
    /* Positionnement */
    background: black;
}

/* Style du bouton pour fermer l'onglet commentaire */
#close-comment-form {
    /* Taille */
    width: 30%;

    /* Positionnement */
    position: absolute;
    bottom: 5px;
    left: 5px;

    /* Bordure */
    border-radius: 20px;
    border: none;

    /* Couleur de fond et texte */
    background: rgb(255, 38, 0);
    color: white;

    /* Transition */
    transition: background 0.3s ease-in-out; /* Add this line */
}

/* Style du bouton pour fermer l'onglet commentaire au survol */
#close-comment-form:hover {
    /* Couleur de fond */
    background: black;

    /* Transition */
    transition: background 0.3s ease-in-out; /* Add this line */
}

/* Style du button de submit du comment-form */
.comment-form input[type="submit"] {
    /* Taille */
    width: 30%;

    /* Positionnement */
    position: absolute;
    bottom: 5px;
    right: 5px;


    /* Bordure */
    border-radius: 20px;
    border: none;

    /* Couleur de fond et texte */
    background: rgb(0, 140, 255);
    color: white;

    /* Transition */
    transition: background 0.3s ease-in-out; /* Add this line */
}

/* Style du button de submit du comment-form au survol */
.comment-form input[type="submit"]:hover {
    /* Couleur de fond */
    background: black;

    /* Transition */
    transition: background 0.3s ease-in-out; /* Add this line */
}

/* Style du textarea du comment-form */
#comment-form-textarea {
    /* Taille */
    width: 100%;
    height: 100px;

    /* Positionnement */
    margin-bottom: 5%;
    
}

.comment-form-input {
    /* Taille */
    width: 80%;

    /* Positionnement */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

/* Style des buttons de commentaires */
.comment-button {
    /* Enleve le style par défaut des buttons */
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

/* Style de l'image du button */
.comment-button img{
    /* Positionnement */
    margin-bottom: 4px;
}

/* Ajoute un effet responsive pour les icones de gauches */
@media screen and (max-width: 1380px){
    .pl-span {
        display: none;
        padding-left: 2%;
    }

    #profil-link-i {
        padding: 5%;
        margin-right: 0;

        width: 40%;
        height: auto;
    }

    #profil-link {
        float: none;
        text-align: center;
        width: 100%;
    }
}

/* Ajoute un effet responsive pour les textes du profil */
@media screen and (max-width: 1180px){
    #pseudo-follow {
        text-align: center;
    }
}