/* Réinitialiser les styles par défaut */
* {
    /* Positionnement */
    margin: 0;
    padding: 0;

    /* Type de box */
    box-sizing: border-box;
}

/* Ajoute une police custom */
@font-face {
    /* Nom de la police */
    font-family: 'Poppins';

    /* Chemin de la police */
    src: url('../font/Poppins-Medium.ttf'); 
}

/* Style du body */
body { 
    /* Utilise la police custom pour toute la page */
    font-family: 'Poppins'; 

    /* Positionnement */
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    
    /* Taille */
    min-height: 100vh; 

    /* Type de box */
    box-sizing: border-box; 

    /* Dégradé de couleur */
    background: linear-gradient(to right, #26a0da, #1e3c72); 
}

/* Style du formulaire */
#login-form-container { 
    /* Fond et bordure */
    background-color: rgb(255, 255, 255); 
    border-width: 1px; 
    border-radius: 5px;

    /* Taille */
    width: 100%; 
    max-width: 400px; 
    min-height: 450px; 
    margin: 0 auto;

    /* Police */
    font-size: 15px; 
}

/* Style du titre du formulaire */
#login-form-title { 
    /* Positionnement */
    margin-top: 4%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

/* Style du formulaire  de login*/
#login-form {
    /* Positionnement */
    margin-top: auto;
    padding-top: 10%; 

    /* Centre le texte */
    text-align: center; 
}

/* Style du label usernam*/
#form-label-username {
    /* Positionnement */
    margin-top: auto; 
    margin-right: 55%; 

    /* Alignement a gauche */
    text-align: left;
}

/* Style du label password*/
#form-label-password {
    /* Positionnement */
    margin-top: auto; 
    margin-right: 43%; 

    /* Alignement a gauche */
    text-align: left;
}

/* Style de l'input */
#form-input {
    /* Positionnement */
    margin-top: auto; 
    margin-right: 0%; 
    padding-top: 1%; 
    padding-bottom: 1%;

    /* Taille */
    width: 70%; 

    /* Alignement à gauche */
    text-align: left;

    /* Bordure */
    border-top: none;
    border-left: none;
    border-right: none;

}

/* Style de l'input lorsqu'il est focus */
#form-input:focus {
    /* Supprime le contour par défaut */
    outline: none;

    /* Change la couleur de la bordure */
    border-color: #3494E6; 
}

/* Style du bouton de soumission */
#submit-button {
    /* Positionnement */
    margin-top: auto;
    margin-top: 10%;
    padding-left: 30%; 
    padding-right: 30%; 
    padding-top: 2%;
    padding-bottom: 2%; 

    /* Couleur et police */
    color: white; 
    background: linear-gradient(to right, #3494E6, #EC6EAD); 
    font-size: 15px;
     
    /* Bordure */
    border-radius: 15px;
    border: none;

    /* Transition */
    transition: background 0.5s ease;
}

/* Style du bouton de soumission lorsqu'il est hover */
#submit-button:hover {
    /* Change la couleur de fond */
    background: black;
    color: linear-gradient(to right, #3494E6, #EC6EAD);

    /* Curseur */
    cursor: pointer;
}

/* Style du lien de redirection */
#redirection-lg {
    /* Positionnement */
    margin-top: auto;
    display: flex;
    justify-content: center;

    /* Couleur et police */
    color: #333;
    font-size: 14px;
    font-weight: normal;
}

/* Style de l'erreur de login */
#login-error {
    /* Positionnement */
    padding-top: 0.5%;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* Couleur et bordure */
    background-color: rgb(245, 87, 87);
    border: solid rgb(90, 44, 44);
    border-width: 3px;
    border-radius: 5px;

    /* Taille */
    width: 100%;
    max-width: 400px;
    min-height: 50px; 

    /* Police */
    font-size: 15px;
    color: white;
}

/* Style du message de réussite */
#login-success {
    /* Positionnement */
    padding-top: 0.5%;
    margin: 0 auto; 
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* Couleur et bordure */
    background-color: rgb(122, 219, 66);
    border: solid rgb(65, 119, 40);
    border-width: 3px;
    border-radius: 5px;

    /* Taille */
    width: 100%;
    max-width: 400px;
    min-height: 50px;

    /* Police */
    font-size: 15px;
    color: white;
}