/* Réinitialiser les styles par défaut */
* {
    margin: 0; /* Supprime la marge par défaut */
    padding: 0; /* Supprime le padding par défaut */
    box-sizing: border-box;  /* Inclure la marge et le padding dans la taille */
}

/* Ajoute une police custom */
@font-face {
    font-family: 'Poppins'; /* Nom de la police */
    src: url('../font/Poppins-Medium.ttf'); /* Chemin de la police */
}

/* Style du body */
body {
    font-family: 'Poppins'; /* Utilise la police custom pour toute la page */

    display: flex; /* Utilise Flexbox pour centrer le contenu */
    flex-direction: column; /* Permet de mettre nos éléments en colonnes */
    justify-content: center; /* Centrer le contenu verticalement */
    align-items: center; /* Centrer le contenu horizontalement */

    min-height: 100vh; /* Hauteur complète de la fenêtre */
    padding: 20px; /* Un peu de marge pour éviter que le formulaire ne touche les bords */

    box-sizing: border-box; /* Inclure la marge dans la taille du body */

    background: linear-gradient(to right, #26a0da, #1e3c72); /* Dégradé de couleur */
}

/* Style du formulaire */
#register-form-container {
    /* Bordure et couleur */
    background-color: rgb(255, 255, 255);
    border-width: 1px;

    /* Taille et position */
    width: 100%;  
    max-width: 400px; 
    min-height: 450px;
    margin: 0 auto;

    /* Espacement et arrondi */
    border-radius: 5px; 
    font-size: 15px;
}

/* Style du titre du formulaire */
#register-form-title {
    /* Espacement */
    margin-top: 4%; 

    /* Centre le texte au milieu de la page */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

/* Style du formulaire */
#register-form {
    /* Positionnement */
    margin-top: auto; 
    padding-top: 10%; 

    /* Centre le texte */
    text-align: center;
}

/* Style du label username */
#form-label-username { 
    /* Positionnement */
    margin-top: auto;
    margin-right: 55%;

    /* Alignement à gauche */
    text-align: left;
}

/* Style du label email */
#form-label-email {
    /* Positionnement */
    margin-top: auto;
    margin-right: 59%; 

    /* Alignement à gauche */
    text-align: left;
}

/* Style du label password*/
#form-label-password {
    /* Positionnement */
    margin-top: auto; 
    margin-right: 45%;

    /* Alignement à gauche */
    text-align: left;
}

/* Style du label password confirmation */
#form-label-password-conf {
    /* Alignement à gauche */
    margin-top: auto; 
    margin-right: 18%; 

    /* Alignement à gauche */
    text-align: left;
}

/* Style de l'input */
#form-input {
    /* Positionnement */
    margin-top: auto;
    margin-right: 0%;
    padding-top: 1%;
    padding-bottom: 1%;

    /* Largeur */
    width: 70%; 

    /* Alignement à gauche */
    text-align: left;

    /* Bordure */
    border-top: none;
    border-left: none;
    border-right: none; 

}

/* Style de l'input lorsqu'il est focus */
#form-input:focus {
    /* Supprime le contour par défaut */
    outline: none; 

    /* Change la couleur de la bordure */
    border-color: #3494E6; 
}

/* Style du bouton */
#submit-button {
    /* Positionnement */
    margin-top: auto; 
    margin-top: 10%; 
    padding-left: 30%; 
    padding-right: 30%; 
    padding-top: 2%; 
    padding-bottom: 2%; 

    /* Couleur et taille */
    color: white; 
    background: linear-gradient(to right, #3494E6, #EC6EAD); 
    font-size: 15px; 
     
    /* Bordure */
    border-radius: 15px; 
    border: none;
    transition: background 0.5s ease;
}

/* Style du bouton lorsqu'il est hover */
#submit-button:hover {
    /* Change la couleur de fond */
    background: black; 
    color: linear-gradient(to right, #3494E6, #EC6EAD);

    /* Curseur */
    cursor: pointer;
}

/* Style du lien de redirection */
#redirection-lg {
    /* Positionnement */
    margin-top: auto; 
    padding-bottom: 5%;

    display: flex; 
    justify-content: center;

    /* Couleur et taille */
    color: #333;
    font-size: 14px; 
    font-weight: normal;
}

/* Style du message d'erreur */
#login-error {
    /* Positionnement */
    padding-top: 0.5%;
    margin: 0 auto; 
    margin-bottom: 2%;

    /* Couleur et bordure */
    background-color: rgb(245, 87, 87);
    border: solid rgb(90, 44, 44);
    border-width: 3px;
    border-radius: 5px;

    /* Taille */
    width: 100%;
    max-width: 400px;
    min-height: 50px;

    /* Centrage */
    text-align: center;
    justify-content: center;
    align-items: center;

    /* Police */
    font-size: 15px;
    color: white;
}

/* Style du message de réussite */
#login-success {
    /* Positionnement */
    padding-top: 0.5%;
    margin: 0 auto; 
    margin-bottom: 2%;

    /* Couleur et bordure */
    background-color: rgb(122, 219, 66);
    border: solid rgb(65, 119, 40);
    border-width: 3px;
    border-radius: 5px;

    /* Taille */
    width: 100%; 
    max-width: 400px; 
    min-height: 50px; 

    /* Centrage */
    text-align: center;
    justify-content: center;
    align-items: center;

    /* Police */
    font-size: 15px;
    color: white;
}